TecWeb/Segundo parcial/Practica41/Nodos vacíos con atributos/xsd4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="materia">
    <xs:complexType>
      <xs:attribute name="categoría" type="xs:string" use="required"/>
      <xs:attribute name="nombre" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
