TecWeb/Segundo parcial/Practica38/web/dtd3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT configuración (lenguajes, clientes, servidores)>
<!ELEMENT lenguajes (lenguaje+)>
<!ELEMENT lenguaje (#PCDATA)>
<!ATTLIST lenguaje
          parte CDATA #REQUIRED>
<!ELEMENT clientes (cliente+)>
<!ELEMENT cliente (#PCDATA)>
<!ATTLIST cliente
          tipo CDATA #REQUIRED>
<!ELEMENT servidores (servidor+)>
<!ELEMENT servidor (#PCDATA)>
<!ATTLIST servidor
          entorno CDATA #REQUIRED>
