TecWeb/Segundo parcial/Practica37/dtd4.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT biblioteca (compra | libro | préstamo)+>
<!ELEMENT libro (#PCDATA)>
<!ATTLIST libro
          autor CDATA #REQUIRED
          id ID #REQUIRED>
<!ELEMENT compra (#PCDATA)>
<!ATTLIST compra
          fechaCompra CDATA #REQUIRED
          libro IDREF #REQUIRED>
<!ELEMENT préstamo (#PCDATA)>
<!ATTLIST préstamo
          fechaPrestamo CDATA #REQUIRED
          fechaRegreso CDATA #REQUIRED
          libro IDREF #REQUIRED>
