TecWeb/Segundo parcial/Practica37/dtd5.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT horario (grupo+, alumno)>
<!ELEMENT grupo (#PCDATA)>
<!ATTLIST grupo
          horario CDATA #REQUIRED
          id ID #REQUIRED>
<!ELEMENT alumno (#PCDATA)>
<!ATTLIST alumno
          grupo IDREFS #REQUIRED
          regular CDATA #REQUIRED
          nivel CDATA #REQUIRED>
