TecWeb/Segundo parcial/Practica40/Mix/xsd4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Música-en-internet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="servicio" maxOccurs="7"/>
      </xs:sequence>
      <xs:attribute name="gratuitos" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="servicio">
    <xs:complexType mixed="true">
      <xs:attribute name="gratis" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
