ProyectoWeb/web/esquemagrupos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
  <xs:element name="gruposexistentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="n_grupo"  maxOccurs="unbounded" minOccurs="0"> 
        <xs:complexType  >
          <xs:attribute name="alumnos"  type="xs:string" use="required"/> 
          <xs:attribute name="nombregrupo"  type="xs:string" use="required"/> 
        </xs:complexType>
         </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
