TecWeb/Segundo parcial/Practica36/dtd1.dtd

<!ELEMENT raiz (elemento1+, elemento2,elemento3?)>
<!ELEMENT elemento1 (#PCDATA)>
<!ATTLIST elemento1
          atributo1 CDATA #REQUIRED>
<!ELEMENT elemento2 (#PCDATA)>
<!ATTLIST elemento2
          atributo2 CDATA #REQUIRED>
<!ELEMENT elemento3 (#PCDATA)>
<!ATTLIST elemento3
          atributo3 CDATA #REQUIRED>