TecWeb/Segundo parcial/Practica36/dtd2.dtd

<!ELEMENT sistema (admins, usuarios)>
<!ELEMENT admins (admin)>
<!ELEMENT admin (#PCDATA)>
<!ATTLIST admin
          clave CDATA #REQUIRED
          usuario CDATA #REQUIRED>
<!ELEMENT usuarios (usuario)>
<!ELEMENT usuario (#PCDATA)>
<!ATTLIST usuario
          clave CDATA #REQUIRED
          usuario CDATA #REQUIRED>
<!ELEMENT sus (su*)>
<!ELEMENT su (#PCDATA)>