TecWeb/Segundo parcial/Practica36/dtd3.dtd

<!ELEMENT configuración (lenguajes, clientes, servidores)>
<!ELEMENT lenguajes (lenguaje+)>
<!ELEMENT lenguaje (#PCDATA)>
<!ATTLIST lenguaje
          parte CDATA #REQUIRED>
<!ELEMENT clientes (cliente+)>
<!ELEMENT cliente (#PCDATA)>
<!ATTLIST cliente
          tipo CDATA #REQUIRED>
<!ELEMENT servidores (servidor+)>
<!ELEMENT servidor (#PCDATA)>
<!ATTLIST servidor
          entorno CDATA #REQUIRED>
